# {{ansible_managed}}

export MESOS_MASTER="{{ mesos_zookeeper_masters }}"
export MESOS_CONTAINERIZERS="{{ mesos_containerizers }}"
export MESOS_EXECUTOR_REGISTRATION_TIMEOUT="{{ mesos_executor_timeout }}"
export HADOOP_HOME="{{hadoop_home}}"
export JAVA_HOME="{{java_home}}"
export HADOOP_INSTALL=${{hadoop_home}}
export PATH="$PATH:$HADOOP_INSTALL/bin"
export PATH="$PATH:$HADOOP_INSTALL/sbin"
export HADOOP_MAPRED_HOME="$HADOOP_INSTALL"
export HADOOP_COMMON_HOME="$HADOOP_INSTALL"
export HADOOP_HDFS_HOME="$HADOOP_INSTALL"
export HADOOP_COMMON_LIB_NATIVE_DIR="$HADOOP_INSTALL/lib/native"
export HADOOP_CLASSPATH="$HADOOP_CLASSPATH:$HADOOP_INSTALL/share/hadoop/tools/lib/*"

